@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
  border-radius: 24px;
  background-color: $color-green;

  height: 72px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 3%;

  @include xs {
    width: 90%;
  }
  @include xl {
    width: 30%;
  }

  &:hover {
    background-color: $color-green-hover;
  }
}
