@import '../styles/mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Inter');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: Inter;
	color: white;
}

html,
body {
	overflow-x: hidden;
}

h1 {
	font-size: 24px;
	line-height: 1.3;

	@include md {
		font-size: calc(54px + 0.2vw);
		line-height: 1.3;
	}

	@include xl {
		font-size: calc(94px + 0.2vw);
		line-height: 1.3;
	}
}

h2 {
	font-size: 48px;
	font-weight: lighter;
}
