@import '../../styles/mixins.scss';

.header {
  display: flex;

  margin: 5vh 8vw 5vh;

  @include xs {
    flex-direction: column;
    justify-content: center;
  }
  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }

  &__easygivebackImg {
    @include xs {
      width: 200px;
    }
    @include sm {
      width: 300px;
    }
  }

  &__iconwrapper {
    width: 140px;
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    width: 20px;
    height: 20px;
  }
}