@import '../../styles/mixins.scss';

.header {
  display: flex;

  margin: 5vh 8vw 5vh;

  @include xs {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }

  &__easygivebackImg {
    @include xs {
      width: 40%;
    }
    @include sm {
      width: 300px;
    }
  }

  &__iconwrapper {
    display: flex;

    @include xs {
      width: 100%;
      justify-content: space-evenly;
      margin-top: 1rem;
    }
    @include sm {
      width: 140px;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  &__icons {
    width: 20px;
    height: 20px;
  }
}