@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  margin: gap(8);
  color: #fff;
  margin-top: 8vh;


  &__vercelwrapper {
    display: flex;
    @include xs {
      justify-content: center;
      margin-top: 1rem;
    }
    @include md {
      justify-content: left;
    }
    @include lg {
      margin-top: 0rem;
    }
  }

  &__inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

  }

  &__container {
    width: 100%;


    &__hdmLogo {
      display: flex;

      @include xs {
        margin-top: 1rem;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }
      @include md {
        margin-top: 0rem;
        flex-direction: row;
        text-align: left;
        justify-content: left;
        align-items: flex-start;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 430px;
    height: 60px;
  }

  &__logo {

    width: 58px;
    @include xs {
      margin-right: 0rem;
    }
    @include md {
      margin-right: 1rem;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    width: 200px;

  }

  &__contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include xs {
      margin-top: 1rem;
      align-items: center;
    }
    @include md {
      align-items: flex-start;
      margin-top: 0rem;
    }
    @include lg {

    }
  }

  &__headlinemargin {
    margin-bottom: 10px;
    display: flex;
    @include xs {
      margin-top: 1rem;
      justify-content: center;
    }
    @include md {
      justify-content: left;
    }
    @include lg {
      margin-top: 0rem;

    }
  }
}
