@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  margin: gap(2);
  color: #fff;


  &__inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__container {
    width: 100%;

    &__hdmLogo {
      display: flex;
      @include xs {
        margin-top: 1rem;
      }
      @include md {
        margin-top: 0rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 430px;
    height: 58px;
  }

  &__logo {
    height: 54px;
    width: 58px;
    margin-right: 1rem;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    width: 200px;

  }

  &__contact-wrapper {
    width: 180px;
    @include xs {
      margin-top: 1rem;
    }
    @include lg {
      margin-top: 0rem;
    }
  }

  &__headlinemargin {
    margin-bottom: 10px;
    @include xs {
      margin-top: 1rem;
    }
    @include lg {
      margin-top: 0rem;
    }
  }
}
